{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yapay Arşiv Akademi - Hizmet Şartları">

    <!-- Favicon -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'course/assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'course/assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'course/assets/css/style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="background-color: #f9f7f7;">
    <div class="container">

        <div class="max-w-3xl lg:p-8 pb-0 mx-auto">

            <!-- Article content -->
            <div class="md:space-y-4 space-y-3 leading-8 md:text-base">
                
                <div class="text-gray-500"> Son Güncelleme Tarihi: 18 Ağustos 2024</div>
                <div class="font-semibold md:text-3xl text-2xl text-gray-700 pt-5"> Hizmet Şartları </div>
</br>                
Yapay Arşiv Akademi'ye hoş geldiniz. Bu Hizmet Şartları ("Şartlar"), Yapay Arşiv Akademi (“Topluluk Sahibi,” “biz” veya “bize”) ile sizin aranızda, çevrimiçi topluluğumuzu ve bu topluluğa erişim sağlamak için sunduğumuz mobil veya diğer indirilebilir uygulamaları (topluca, “Topluluk”) kullanmanızla ilgili yasal bir sözleşmedir.
LÜTFEN AŞAĞIDAKİ ŞARTLARI DİKKATLİCE OKUYUN.
BU ŞARTLARI KABUL EDEREK VEYA TOPLULUĞA ERİŞEREK VEYA KULLANARAK, BU ŞARTLARA BAĞLI OLACAĞINIZI KABUL EDERSİNİZ.
                <div class="font-semibold md:text-2xl text-xl text-gray-700 md:pt-12 pt-10"> 1. Uygunluk </div>
                <div class="md:leading-9">Topluluğa katılabilmek için herhangi bir yaş sınırının üstünde olmanız gerekmemektedir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 2. Hesaplar ve Kayıt </div>
                <div class="md:leading-9">Topluluğun çoğu özelliğine erişmek için bir hesap oluşturmanız gerekmektedir. Kayıt olurken doğru ve güncel bilgiler sağlamayı kabul edersiniz.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 3. Lisanslar </div>
                <div class="md:leading-9">Topluluğa erişim ve kullanma hakkı, bu Şartlara tabi olarak size sınırlı, münhasır olmayan, devredilemez, alt lisans verilemez bir lisans olarak verilir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 4. Üçüncü Taraf Hizmetler </div>
                <div class="md:leading-9">Topluluğun üçüncü taraf hizmetler ve yazılımlar içerebileceğini ve bu üçüncü taraf hizmetlerden gelen verilere ilişkin yükümlülüklerinizi kabul edersiniz.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 5. Kullanıcı İçeriği </div>
                <div class="md:leading-9">Toplulukta paylaştığınız içerikler sizin sorumluluğunuzdadır ve bu içeriklerin herhangi bir şekilde ihlal edici olmamasını sağlamak sizin yükümlülüğünüzdedir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 6. Ücretler ve Ödeme </div>
                <div class="md:leading-9">Topluluk üzerinden yapılan tüm ödemeler PayTR aracılığıyla gerçekleştirilir. Tüm ödemeler kesin olup, yanlışlıkla yapılan alımlardan biz sorumlu değiliz. İade yapılmaz. Yapay Arşiv Akademi olarak, ücretlerde değişiklik yapma hakkımızı saklı tutarız.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 7. Hizmetin Değiştirilmesi ve Sonlandırılması </div>
                <div class="md:leading-9">Topluluğu herhangi bir zamanda değiştirme veya sona erdirme hakkını saklı tutarız. Kullanıcılar, aboneliği sonlandığında sistemden uzaklaştırılacaktır.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 8. Yasak Davranışlar </div>
                <div class="md:leading-9">Topluluğu yasadışı faaliyetler için kullanmamanız, başka bir kullanıcıya zarar vermemeniz, telif haklarını ihlal etmemeniz ve topluluğun işleyişini engellememeniz gerekmektedir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 9. Fikri Mülkiyet Hakları </div>
                <div class="md:leading-9">Yapay Arşiv Akademi, üçüncü tarafların fikri mülkiyet haklarına saygı duyar ve kullanıcıların da aynı şekilde davranmasını bekler.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 10. Sorumluluk Reddi </div>
                <div class="md:leading-9">Topluluk ve içeriği "olduğu gibi" sağlanmakta olup, Topluluk Sahibi, Topluluğun kesintisiz, güvenli veya hatasız olacağına dair hiçbir garanti vermez.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 11. Sorumluluğun Sınırlandırılması </div>
                <div class="md:leading-9">Topluluk Sahibi, Topluluğun kullanımıyla ilgili olarak ortaya çıkabilecek dolaylı, arızi, özel, netice kabilinden doğan veya cezai zararlar için sorumlu değildir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 12. Uyuşmazlık Çözümü ve Tahkim </div>
                <div class="md:leading-9">Bu Şartlardan kaynaklanan her türlü anlaşmazlık, bağlayıcı tahkim yoluyla çözülecektir. Topluluğun kullanımı ile ilgili olarak toplu dava açma hakkınızdan feragat edersiniz.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 13. Değişiklikler </div>
                <div class="md:leading-9">Bu Şartlarda zaman zaman değişiklik yapabiliriz. Değişiklikler mevcut kullanıcılar için bildirim tarihinden sonra yürürlüğe girecektir.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 14. Genel Hükümler </div>
                <div class="md:leading-9">Bu Şartlar, Topluluğun kullanımına ilişkin olarak taraflar arasındaki tüm anlaşmayı teşkil eder. Ayrıca Bu Şartlar, Türkiye Cumhuriyeti yasalarına tabi olacak ve Türkiye Cumhuriyeti yasalarına göre yorumlanacaktır. Taraflar arasında bu Şartlardan doğabilecek her türlü ihtilafın çözümünde İstanbul mahkemeleri ve icra daireleri yetkili olacaktır.</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 pt-8"> 15. İletişim </div>
                <div class="md:leading-9">Bu Şartlar hakkında herhangi bir sorunuz varsa, <a href="mailto:yapayarsiv@gmail.com">yapayarsiv@gmail.com</a> adresinden bize ulaşabilirsiniz.</div>
            
            </div>
        </div>
        
        {% include 'course/footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'course/assets/js/uikit.js' %}"></script>
    <script src="{% static 'course/assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'course/assets/js/simplebar.js' %}"></script>
    <script src="{% static 'course/assets/js/custom.js' %}"></script>
    <script src="{% static 'course/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</body>
</html>
