{% extends "course/base.html" %}
{% load static %}
{% load i18n %}
{% load infinite_scroll %}

{% block content %}
<meta property="og:title" content="Yapay Arşiv"/>
<meta property="og:description" content="Türkiye'nin Yapay Zeka Arşivi; Binlerce Yapay Zeka Aracı İçin Tek Platform!"/>
<meta property="og:image" content="https://yapayarsiv.com/media/profile_pic/yapayarsivlogo.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
  #moving-element, #moving-element-sec {
      position: relative;
      top: 0;
      transition: top 0.3s; 
  }
  .card {
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.04);
  }

  @media screen and (max-width: 767px) {
  .card-border {
    border: 2px solid rgba(0,0,0,1);
}
  }
  .btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.fixed-image-index {
  object-fit: cover;
  object-position: center;
  text-align: center;
  width: 100%;
  height: 210px;
  border: none; 
}


.fix-height-text {
  height: 134px;
}

@media screen and (max-width: 575px) {
  .fix-height-text {
    height: auto;
  }
}

.fix-height-h {
  height: 60px;
}

@media screen and (max-width: 575px) {
  .fix-height-h {
    height: auto;
  }
}

</style>

<style>
  .form-control:focus {
      border-color: #2a2a2a; 
      border-width: 3px;
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
  .form-check-input:focus {
      border-color: #2a2a2a; 
      border-width: 1px;
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
  .form-check-input:checked {
      background-color: #2a2a2a; 
      border-color: #2a2a2a; 
      border-width: 1px;
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
</style>

<style>
  .big-image {
      transition: transform 0.3s ease-in-out;
  }

  .big-image:hover {
      transform: scale(1.2);
  }

</style>
<main >

  <div class="">

    <h1 style="font-family: 'Figtree', sans-serif; font-weight: bolder; font-size:50px;" >
      Yapay Arşiv
    </h1>
    <p style="font-family: 'Figtree', sans-serif; margin-top: 30px;" class="lead">Türkiye'nin Yapay Zeka Arşivi; Binlerce Yapay Zeka Aracı İçin Tek Platform!</p>


    <form method="post" action="">
      {% csrf_token %}

      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6  input-group-lg">
           <input style="border-radius: 32px; text-align: center; margin-top: 20px;" placeholder="Araç Ara" {% if keyword %}value="{{ keyword }}"{% endif %} name="keyword" maxlength="64" type="text" class="form-control">
           <div class="input-group-append">
          </div>
         </div>
         <div class="col-sm-3"></div>
      

   </div>
    </form>

</main>

<style>
   ::-webkit-scrollbar{
        height: 8px;
        width: 10px;
        background: rgb(228, 226, 226);
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: #6d6a6a;
        border-radius: 10px;

    }
    ::-webkit-scrollbar-thumb:vertical{
        background: #6d6a6a;
        border-radius: 20px;

    }


.styled-horizontal-scrollable-div {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border: none;
  padding: 0px;

  scrollbar-width: thin; 
  scrollbar-color:  transparent;
  height: 65px;


}

  @media (max-width: 767px) {
.styled-horizontal-scrollable-div {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border: none;
  padding: 0px;

  scrollbar-width: thin; 
  scrollbar-color: #212529 transparent;
  height: 65px;

}
}

.nav-scrollable {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  flex-wrap: wrap; 
}

.nav-link {
  white-space: nowrap;
  margin-right: 15px; 
}


@media (max-width: 767px) {
  .nav-scrollable {
    flex-wrap: nowrap;
    overflow-x: auto; 
  }
}
.nav-scrollable-tags {
    flex-wrap: nowrap;
    overflow-x: auto; 
  }


</style>

<style>
  .nav-tabs {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: flex;
  }

  .nav-tabs .container {
    width: 100%;
    height: 60px;
    overflow-x: auto;
  }

  .nav-tabs .nav {
    display: flex;
    flex-wrap: nowrap;
  }

  .nav-tabs .nav-link {
    flex: 0 0 auto;
    white-space: nowrap;
  }
</style>

<style>
    .hover-colored:nth-child(1):hover {
            background-color: #f3f3e3;
        }
  {% for x in get_all_cats %}
  .hover-colored:nth-child({{ x.hover_index }}):hover {
            background-color: {{x.color}};
        }
  {% endfor %}
</style>

<ul class="nav nav-tabs nav-fill" style="margin-top:50px">
  <div class="container">
    <nav class="nav justify-content-between">
      <a class="nav-link hover-colored" style="color: black; background-color:; {% if category == None %}border: 1px solid #d9d9d8; background-color: #f3f3e3;{% endif %}" href="">
        <img src="{% static '/imgs/tumu.png' %}" class="img-fluid" style="width: 24px;" alt="">
       Tümü
      </a>
      {% for x in get_all_cats %}
        <a class="nav-link hover-colored" style="color: black; {% if category == x.slug %}border: 1px solid #d9d9d8; background-color: {{x.color}};{% endif %}" href="">
          {% if x.category_icon %}
            <img src="" class="img-fluid" style="width: 24px;" alt="">
          {% endif %} {{ x.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</ul>
</script>
  <div class="album" style="padding-top: 15px;">
    <div class="container" style="text-align: left;">
      {% if category %}
      <form method="post" action="">
        {% csrf_token %}
        <div style="text-align: center;">
          <h5>Filtreleme</h5>
          <span id="downButton" ><img onclick="toggleAnimation()" class="big-image" src="{% static '/imgs/down.png' %}" alt=""></span>
          <div class="row"  style="text-align: left; visibility:hidden;height: 0px;" id="animDiv">
            <h6>Alt Kategoriler</h6>
            {% for x in get_sub_cats %}
              <div class="col-md-2">
              <input class="form-check-input" {% if x.slug in get_subCatList %}checked{% endif %} type="checkbox" name="subCatList" value="{{ x.slug }}" id="subCat{{ x.slug }}" >
              <label class="form-check-label small" for="subCat{{ x.slug }}">
              {{ x.name }}
              </label>
              </div>
            {% endfor %}
            <h6>Ücretlendirme</h6>
            <div class="col-md-2">
              <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz" id="fee0" {% if "Ücretsiz" in get_feeList %}checked{% endif %}>
              <label class="form-check-label small" for="fee0">
               Ücretsiz
              </label>
            </div>
              <div class="col-md-2">
                <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz Sürümlü" id="fee1" {% if "Ücretsiz Sürümlü" in get_feeList %}checked{% endif %}>
                <label class="form-check-label small" for="fee1">
                  Ücretsiz Sürümlü
                </label>
              </div>
            <div class="col-md-2">
              <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz Deneme" id="fee2" {% if "Ücretsiz Deneme" in get_feeList %}checked{% endif %}>
              <label class="form-check-label small" for="fee2">
                Ücretsiz Deneme
              </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input" type="checkbox" name="feeList" value="Ücretli" id="fee3" {% if "Ücretli" in get_feeList %}checked{% endif %}>
              <label class="form-check-label small" for="fee3">
                Ücretli
              </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input" type="checkbox" name="feeList" value="Diğerleri" id="fee4" {% if "Diğerleri" in get_feeList %}checked{% endif %}>
              <label class="form-check-label small" for="fee4">
                Diğerleri
              </label>
            </div>
            <div style="text-align: center;"><br><button class="btn btn-outline-dark" type="submit" name="btnFilter">Filtreleri Uygula</button></div>


          </div>
          <span id="upButton" style="display: none;" ><img onclick="toggleAnimation()" class="big-image" src="{% static '/imgs/up.png' %}" alt=""></span>
      </div>

    </form>
    {% else %}
    <form method="post" >
      {% csrf_token %} 
      <div style="text-align: center;">
        <h5>Filtreleme</h5>
        <span id="downButton" ><img onclick="toggleAnimation()" class="big-image" src="{% static '/imgs/down.png' %}" alt=""></span><br>
        <div class="row"  style="text-align: left; visibility:hidden;height: 0px;" id="animDiv">
          <h6>Alt Kategoriler</h6>
          {% for x in get_sub_cats %}
            <div class="col-md-2">
            <input class="form-check-input" {% if x.slug in get_subCatList %}checked{% endif %} type="checkbox" name="subCatList" value="{{ x.slug }}" id="subCat{{ x.slug }}" >
            <label class="form-check-label small" for="subCat{{ x.slug }}">
            {{ x.name }}
            </label>
            </div>
          {% endfor %}
          <h6>Ücretlendirme</h6>
          <div class="col-md-2">
            <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz" id="fee0" {% if "Ücretsiz" in get_feeList %}checked{% endif %}>
            <label class="form-check-label small" for="fee0">
             Ücretsiz
            </label>
          </div>
            <div class="col-md-2">
              <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz Sürümlü" id="fee1" {% if "Ücretsiz Sürümlü" in get_feeList %}checked{% endif %}>
              <label class="form-check-label small" for="fee1">
                Ücretsiz Sürümlü
              </label>
            </div>
          <div class="col-md-2">
            <input class="form-check-input" type="checkbox" name="feeList" value="Ücretsiz Deneme" id="fee2" {% if "Ücretsiz Deneme" in get_feeList %}checked{% endif %}>
            <label class="form-check-label small" for="fee2">
              Ücretsiz Deneme
            </label>
          </div>
          <div class="col-md-2">
            <input class="form-check-input" type="checkbox" name="feeList" value="Ücretli" id="fee3" {% if "Ücretli" in get_feeList %}checked{% endif %}>
            <label class="form-check-label small" for="fee3">
              Ücretli
            </label>
          </div>
          <div class="col-md-2">
            <input class="form-check-input" type="checkbox" name="feeList" value="Diğerleri" id="fee4" {% if "Diğerleri" in get_feeList %}checked{% endif %}>
            <label class="form-check-label small" for="fee4">
              Diğerleri
            </label>
          </div>
        <div style="text-align: center;"><br><button class="btn btn-outline-dark" type="submit" name="btnFilter">Filtreleri Uygula</button></div>

        </div>
        <span id="upButton" style="display: none;" ><img onclick="toggleAnimation()" class="big-image" src="{% static '/imgs/up.png' %}" alt=""></span>
    </div>

  </form>
      {% endif %}
      <h3 style="">{% if category %}{{ get_cat.name }}{% else %}Tüm Kategoriler{% endif %} - {{ tools_count }} Araç</h3>
      {% if filter_cat_names or get_feeList %}
      {% for x in filter_cat_names %}<span class="badge bg-dark text-light">{{ x }}</span>&nbsp;{% endfor %}
      {% for x in get_feeList %}<span class="badge bg-dark text-light">{{ x }}</span>&nbsp;{% endfor %}
      <a href="{{root_url}}" class="btn btn-light btn-sm"><i class="fa fa-close"></i> Filtreyi Temizle</a>
      {% endif %}
    </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1778377270182761"
     crossorigin="anonymous"></script>
<!-- yatay reklam -->
<ins class="adsbygoogle"
     style="display:inline-block;width:1200px;height:100px"
     data-ad-client="ca-pub-1778377270182761"
     data-ad-slot="6782077299"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <div style="margin-top: 20px; " class="container">
        <div id="tools-container" style="padding-bottom: 25px;" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
          {% for tool in feed %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
            <div class="card shadow-sm card-border" style="flex-direction: column; ">
              <a href="">
              <img class="fixed-image-index" style="object-fit: cover; "  src="{{ tool.banner.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
              </a>
              <div class="card-body py-3">
                <div class="text-start">
                  <h4 class="fix-height-h">{{tool.tool_name}}</h4>
                </div>
                <div class="fix-height-text">
                <p class="card-text">{{tool.body|safe|truncatechars:115}}</p>
                </div>
                <div class="small-ratings align-items-center text-start">
                  {% if tool.star > 0 %}
                  <i class="fa fa-star" style="color: gold;"></i>

                    {% if tool.star > 1 %}
                    <i class="fa fa-star" style="color: gold;"></i>
                    {% else %}
                    <i class="fa fa-star"></i>
                    {% endif %}

                    {% if tool.star > 2 %}
                    <i class="fa fa-star" style="color: gold;"></i>
                    {% else %}
                    <i class="fa fa-star"></i>
                    {% endif %}

                    {% if tool.star > 3 %}
                    <i class="fa fa-star" style="color: gold;"></i>
                    {% else %}
                    <i class="fa fa-star"></i>
                    {% endif %}

                    {% if tool.star > 4 %}
                    <i class="fa fa-star" style="color: gold;"></i>
                    {% else %}
                    <i class="fa fa-star"></i>
                    {% endif %}


                  {% else %}
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  {% endif %}
                  <br>

                </div>

                <div id="tags" class="styled-horizontal-scrollable-div" style="padding: 15px;">
                  <a href="?fee={{tool.fee}}"><span class="badge bg-dark text-light">{{ tool.fee }}</span></a>&nbsp;
                  {% for tag in tool.subcategory.all %}
                  <a href="?tag={{tag.slug}}"><span class="badge bg-dark text-light">{{ tag.name }}</span></a>&nbsp;
                  {% endfor %}
                </div>
                <div class="d-flex justify-content-between align-items-center" style="padding: 15px;">
                  <div class="btn-group">
                    <a type="button" href="" class="btn btn-sm btn-outline-dark">Görüntüle</a>
                    {% if request.user.is_staff %}
                    <a type="button" href="" class="btn btn-sm btn-outline-dark">Düzenle</a>
                    {% else %}
                    {% endif %}
                  </div>
                </div>


              </div>
            
            </div>
          </div>

        {% endfor %}
 
      </div>
      {% if load_more %}
      <div style="padding-bottom: 25px;">
        <button class="btn btn-dark"  id="loadMoreButton">Daha fazla</button>
      </div>
      {% endif %}

  </div>
</div>


{% if load_more %}

<script>
  
  $(document).ready(function(){
      var page = 1;
      var loadMore = document.getElementById("loadMoreButton");
      $("#loadMoreButton").click(function(){
        loadMore.disabled = true;
        loadMore.textContent = "Yükleniyor...";
          var dataToSend = {
              page: page,
              csrfmiddlewaretoken:'{{ csrf_token }}',
              get_feeList:JSON.stringify({{get_feeList|safe}}),
              get_subCatList:JSON.stringify({{get_subCatList|safe}}),
              keyword:{% if keyword is None %}null{% else %}"{{keyword}}"{% endif %},
              category:{% if category %}"{{category}}"{% else %}null{% endif %},
          };
        
          $.ajax({
              type: "POST",
              url: "",  
              data: dataToSend,
              success: function(response){

                if (response.status == 1){


                  page = response.page;
                  appendTools(response.data);

                  if (response.data.length > 0 && response.data.length == response.listing_value ){
                    loadMore.disabled = false;
                    loadMore.textContent = "Daha fazla";
                  }else{
                    loadMore.textContent = "Gösterilecek daha fazla araç yok";
                  }
                }else{
                  loadMore.textContent = "Hata";
                }
              },
              error: function(error){
                loadMore.textContent = "Hata";
              }
          });
      });

      function appendTools(tools) {
      var toolsContainer = $("#tools-container");



      tools.forEach(function (tool) {

        var cat_list = [];
        var catsToHtml = `<a href="?fee=${tool.fee}"><span class="badge bg-dark text-light">${tool.fee}</span></a>&nbsp;`;
        
        tool.cats.forEach(function (cat) {
          catsToHtml += `<a href="?tag=${cat.slug}"><span class="badge bg-dark text-light">${cat.name}</span></a>&nbsp;`;
        });

        var toolHtml = `
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card shadow-sm card-border" style="flex-direction: column;">
              <a href="${tool.link}">
                <img class="fixed-image-index" style="object-fit: cover;" src="${tool.banner_url}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
              </a>
              <div class="card-body py-3">
                <div class="text-start">
                  <h4 class="fix-height-h">${tool.tool_name}</h4>
                </div>
                <div class="fix-height-text">
                  <p class="card-text">${tool.body}</p>
                </div>
                ${tool.star > 0 ? `
                  <div class="small-ratings align-items-center text-start">
                    <i class="fa fa-star" style="color: gold;"></i>
                    ${tool.star > 1 ? `<i class="fa fa-star" style="color: gold;"></i>` : `<i class="fa fa-star"></i>`}
                    ${tool.star > 2 ? `<i class="fa fa-star" style="color: gold;"></i>` : `<i class="fa fa-star"></i>`}
                    ${tool.star > 3 ? `<i class="fa fa-star" style="color: gold;"></i>` : `<i class="fa fa-star"></i>`}
                    ${tool.star > 4 ? `<i class="fa fa-star" style="color: gold;"></i>` : `<i class="fa fa-star"></i>`}
                    <br>
                  </div>` : `
                  <div class="small-ratings align-items-center text-start">
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <i class="fa fa-star" style="opacity: 0.5;"></i>
                  <br>
                  </div>`}
                  <div id="tags" class="styled-horizontal-scrollable-div" style="padding: 15px;">
                  ${catsToHtml}
                </div>
                <div class="d-flex justify-content-between align-items-center" style="padding: 15px;">
                  <div class="btn-group">
                    <a type="button" href="${tool.link}" class="btn btn-sm btn-outline-dark">Görüntüle</a>
                    {% if request.user.is_staff %}
                    <a type="button" href="${tool.extra_url}" class="btn btn-sm btn-outline-dark">Düzenle</a>
                    {% else %}
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>
        `;

        toolsContainer.append(toolHtml);
      });
    }


  });



</script>
{% endif %}
<script>
  let isOpen = false;

  function toggleAnimation() {
    const div = document.getElementById('animDiv');
    if (div.style.visibility === 'hidden') {
        div.style.visibility = 'visible';
        div.style.height = 'auto';
        const upButton = document.getElementById('upButton');
        const downButton = document.getElementById('downButton');
        downButton.style.display = "none";
        upButton.style.display = "block";

    } else {
        div.style.visibility = 'hidden';
        div.style.height = '0';
        const upButton = document.getElementById('upButton');
        const downButton = document.getElementById('downButton');
        downButton.style.display = "block";
        upButton.style.display = "none";

    }
  }
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1778377270182761"
     crossorigin="anonymous">
</script>



{% endblock content %}
