{% extends "layout_without_footer.html" %}
{% load crispy_forms_tags %}

{% block body %}
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h3>Parolanızı Sıfırlayın</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}<br>
                <button type="submit" class="btn btn-primary">Sıfırlama Bağlantısı Gönder</button>

          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
{% endblock %}