{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
<br>
<h3>Parola sıfırlama gönderildi</h3>
<p>
Eğer girdiğiniz e-posta ile bir hesabınız varsa, parolanızın ayarlanması için size talimatları e-posta ile gönderdik.

Eğer bir e-posta almadıysanız, lütfen kayıt olurken girdiğiniz adresi kullandığınızdan emin olun ve istenmeyen mesajlar klasörünü kontrol edin.</p>
    </div>
    <div class="col-md-3"></div>

  </div>
</div>

{% endblock %}
