{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6"><br>
          <h3>Yeni Parola Belirle</h3>
          {% if validlink %}
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}<br>
              <button type="submit"  class="btn btn-primary">Onayla</button>
            </form>
          {% else %}
            <p class="text-danger">Geçersiz Bağlantı</p>
            <p>
              <a  href="{% url 'password_reset' %}">Yeni Bir Bağlantı Göndermeyi Dene</a>
            </p>
          {% endif %}
        </div>
      <div class="col-md-3"></div>

      </div>
    </div>
{% endblock %}
