{% extends 'course/management/base.html' %}
{% load static %}
{% block content %}
<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<style>
  .container {
  display: grid;

}

.box {
  border: 1px solid #ececec;
  background-color: #fdfdfd;
  padding: 10px;
  cursor: move;

 
}
.box.over {
  border: 3px dotted #ff0000;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    
      var dragSrcEl = null;
      
      function handleDragStart(e) {
        this.style.opacity = '0.4';
        
        dragSrcEl = this;
    
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
      }
    
      function handleDragOver(e) {
        if (e.preventDefault) {
          e.preventDefault();
        }
    
        e.dataTransfer.dropEffect = 'move';
        
        return false;
      }
    
      function handleDragEnter(e) {
        this.classList.add('over');
      }
    
      function handleDragLeave(e) {
        this.classList.remove('over');
      }
    
      function handleDrop(e) {
        if (e.stopPropagation) {
          e.stopPropagation(); // stops the browser from redirecting.
    
         
        }
        
        if (dragSrcEl != this) {
          dragSrcEl.innerHTML = this.innerHTML;
          this.innerHTML = e.dataTransfer.getData('text/html');
        }
        
        return false;
      }
    
      function handleDragEnd(e) {
        this.style.opacity = '1';
        
        items.forEach(function (item) {
          item.classList.remove('over');
        });
      }
      
      
      let items = document.querySelectorAll('.container .box');
      items.forEach(function(item) {
        item.addEventListener('dragstart', handleDragStart, false);
        item.addEventListener('dragenter', handleDragEnter, false);
        item.addEventListener('dragover', handleDragOver, false);
        item.addEventListener('dragleave', handleDragLeave, false);
        item.addEventListener('drop', handleDrop, false);
        item.addEventListener('dragend', handleDragEnd, false);
      });
    });
    </script>
    
<div class="container md:space-y-10 space-y-6">

    <!--  breadcrumb -->
    <div class="breadcrumb-area py-0 justify-between sm:flex">
        <div> 
            <h3 class="md:text-2xl text-lg font-semibold mb-2"> {{ title }} </h3>
            <div class="breadcrumb">
                <ul class="m-0">
                    <li>
                        <a href="{% url 'management:index' %}"> <i class="icon-feather-home"></i> </a>
                    </li>
                    <li>
                        <a href="{% url 'management:course' %}"> Kurslar </a>
                    </li>
                    <li class="active">
                        <a href="#">{{ title }}</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div> 
    <div class="py-0 justify-between sm:flex">
        <h2 class="md:text-xl text-lg">{{ title }} | Kurs Yönetimi </h2>
    </div>

    <div style="text-align: right;">
        <button class="button" type="button" uk-toggle="target: #modal-close-default">Bölüm Ekle</button>
   </div>

   <div id="container" class="grid lg:grid-cols-3 gap-5">

    <!-- items -->
    {% for x in get_course_sections %}
    <div draggable="true" id="{{ x.id }}" style="padding: 3px;" class="box">

    <div class="p-5 bg-white rounded-md shadow uk-scrollspy-inview uk-animation-fade" style="">

        <div class="flex items-center space-x-3 mb-4">
            <div class="flex-1 min-w-0">  
                <h5 class="text-gray-600 font-semibold text-base">{{ x.name }}</h5>
            </div>
        </div>
        <div class="font-medium border-t pt-2"> 
            <div class="flex items-center py-2 space-x-3">
                <div class="flex flex-1">   
                    <ion-icon name="play-circle-outline" class="text-xl mr-3 md hydrated" role="img" aria-label="play circle outline"></ion-icon>
                    İçerik Sayısı
                </div> 
                <div class="text-black">  {{ x.get_lesson_count }}  </div> 
            </div>
        </div>
        <div class="flex mt-3 space-x-2 text-sm">
            <a href="{% url 'management:manage-section' id=x.id %}" class="bg-gray-100 flex-1 py-1.5 rounded text-center">Yönet</a>
            <a href="{% url 'management:edit-section' id=x.id %}" class="bg-gray-100 flex-1 py-1.5 rounded text-center">Düzenle</a>
            <a href="{% url 'management:delete-section' id=x.id %}" class="bg-gray-100 flex-1 py-1.5 rounded text-center">Sil</a>

        </div>
    </div>
    </div>
    {% endfor %}

</div>

</div>

<div id="modal-close-default" uk-modal="" class="uk-modal" >
    <div class="uk-modal-dialog uk-modal-body rounded-md shadow-2xl">
        <button class="uk-modal-close-default bg-gray-300 p-2 rounded-full m-3 uk-icon uk-close" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
        <h2 class="mb-2 uk-modal-title">Bölüm Ekle</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div >
                <label for="name" class="font-medium self-start"> Bölüm Adı <span class="text-red-600">*</span></label>
                <input type="text" class="with-border" name="name" id="name" placeholder="Bölüm Adı">
            </div>
            <div style="padding: 10px; text-align: center;">
                <button type="submit" class="button" name="addSection">Ekle</button>
            </div>
            
        </form>
    </div>
</div>


<script>
        
    $("#container").sortable({
          update: function(e, ui) {
            var index = 0;
            var new_sira = [];
            $("#container div").each(function(i, elm) {
              if (elm.getAttribute("class") == "box"){
                index +=1;
                $elm = $(elm); 
                new_sira.push({id:elm.getAttribute("id"),index:index});

              }
              
            });
            var get_container_div = document.getElementById("container");
            get_container_div.style.opacity = "0.5";
            get_container_div.style.pointerEvents = "none";

            fetch("{% url 'management:change-index-course-section' %}", {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}', 
                  },
                  body: JSON.stringify({ sira: new_sira }),
                })
                  .then(function (response) {
                    return response.json();
                  })
                  .then(function (data) {
                    if (data.success) {
                      alert("Sıralama başarıyla kaydedildi!");
                      get_container_div.style.opacity = "1";
                      get_container_div.style.pointerEvents = "auto";
                    } else {
                      alert("Sıralama kaydedilirken bir hata oluştu!");
                      get_container_div.style.opacity = "1";
                      get_container_div.style.pointerEvents = "auto";
                    }
                  })
                  .catch(function (error) {
                    alert("Sıralama kaydedilirken bir hata oluştu!");
                    get_container_div.style.opacity = "1";
                    get_container_div.style.pointerEvents = "auto";
                  });
          }
        });
</script>

{% endblock %}

{% block script %}
<script src="{% static 'course/assets/js/aksfileupload.js' %}"></script>
<script>
    $(function () {
        $("aks-file-upload").aksFileUpload({
            fileUpload: "#uploadfile",
            dragDrop: true,
            maxSize: "1 MB",
            multiple: false,
            maxFile: 1
        });
    });
</script>

<script>
    window.onload = function() {
      CKEDITOR.replace('content', {
          toolbar: 'Basic',
          uiColor: '#f1f1f1'
      });
      CKEDITOR.instances.content.setData( '<p>Some other editor data.</p>', function()
  {
      this.checkDirty();  
  });
    };
  </script>


{% endblock %}