{% load static %}
        <footer class="text-center text-lg-start bg-dark text-white" style="margin-top:70px; left:0; bottom:0; right:0; position:relative; clear:both;">
          <section class="d-flex justify-content-center justify-content-lg-between">
          </section>
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    YAPAY ARŞİV
                  </h6>
                  <p>
                    Türkiye'nin Yapay Zeka Arşivi; Binlerce Yapay Zeka Aracı İçin Tek Platform!
                  </p>
                </div>
            
               
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                    YARARLI LİNKLER
                  </h6>
                  <p>
                    <a href="{% url 'forum:all_news' %}" class="text-reset">Tüm Haberler</a>
                  </p>
                  <p>
                    <a href="{% url 'forum:all_posts' %}" class="text-reset">Gönderiler</a>
                  </p>
                  <p>
                    <a href="{% url 'forum:contact' %}" class="text-reset">İletişim ve İş Birliği</a>
                  </p>
                  <p>
                    <a href="{% url 'index' %}" class="text-reset">Tüm Araçlar</a>
                  </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">İLETİŞİM</h6>
                  <p>
                    <i class="fas fa-envelope me-3 text-secondary"></i>
                    iletisim@yapayarsiv.com
                  </p>

                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          </section>
          <div class="text-center" style="color:gray">
<div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
<p><a class="text-reset" href="https://yapayarsiv.com/hakkinda/" target="_blank">Yapay Arşiv Hakkında</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
<p><a class="text-reset" href="https://yapayarsiv.com/kullanim-kosullari/" target="_blank">Kullanım Koşulları</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
<p><a class="text-reset" href="https://yapayarsiv.com/gizlilik-politikasi-ve-sorumluluk-reddi/" target="_blank">Gizlilik Politikası ve Sorumluluk Reddi</a></p>   
</div>
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
<p>© 2024 Copyright: <a class="text-reset fw-bold" href="https://yapayarsiv.com/" style="color:white!important" target="_blank">yapayarsiv.com</a></p>
</div>

          </div>
        </div>
              </div>
            </div>
        </footer>

