{% extends 'course/management/base.html' %}

{% block content %}
<div class="container md:space-y-10 space-y-6">

    <!--  breadcrumb -->
    <div class="breadcrumb-area py-0 justify-between sm:flex">
        <div> 
            <h3 class="md:text-2xl text-lg font-semibold mb-2"> {{ title }} </h3>
        </div>
    </div> 
    <div class="bg-white shadow rounded-md overflow-auto">

        <div class="items-end justify-between p-5 sm:flex -mt-2 mb-2">
            <h3 class="font-medium  text-gray-600">{{ blog_count }} Paylaşım {% if q %}, <b>{{ q }}</b> için arama sonuçları <a style="color: rgb(32, 128, 253);" href="{% url 'management:help' %}">Sonuçları Sıfırla</a>{% endif %} </h3>
            <form method="get">
            <div class="bg-white border flex items-center overflow-hidden relative rounded-lg">
                <i class="pl-4 -mr-2 relative uil-search"></i>
                <input class="flex-1 max-h-10" placeholder="Paylaşım ara" name="q" {% if q %}value="{{ q }}"{% endif %} type="text">
            </div>
        </form>
        </div>

        <table class="sm:table-fixed w-full border-b">
            <thead>
                <tr class="border-b bg-gray-50 text-base text-black">
                    <th class="w-6/12 p-3 font-medium">Başlık</th>
                    <th class="w-2/12 p-3 font-medium text-right">İşlem</th>
                </tr>
            </thead>
            <tbody>
                {% for b in blogs %}
                <tr>
                    <td class="flex items-center space-x-3 p-3 pr-0 w-52 sm:w-auto"> 
                        {% if b.user.profile_pic %}<img src="{{ b.user.profile_pic.url }}" alt="" class="h-12 w-16 -ml-3 object-cover rounded-md md:block hidden"> {% endif %}
                        <div class="flex-1 min-w-0">
                            <div class="font-semibold mb-1 line-clamp-2"> {{ b.title }} </div>
                            <span class="text-gray-600 text-sm font-medium "> {{ b.user.full_name }} </span>
                        </div>
                    </td>
                    <td class="p-3 text-right"> 
                        <a href="#" class="hover:bg-gray-200 p-1.5 inline-block rounded-full" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                            </svg>
                        </a>
                        <div class="bg-white w-44 shadow-lg border border-gray-100 p-2 mt-12 rounded-md text-gray-500 hidden text-left font-medium" 
                        uk-drop="pos: bottom-right">
                            <ul class="space-y-1">
                            <li>
                                <a href="{% url 'help:help-list' %}?post_id={{ b.id }}" class="px-3 py-2 rounded-md block hover:bg-gray-100"> Görüntüle </a>
                            </li>
                            <li>
                                <a href="{% url 'management:edit-help' id=b.id %}" class="px-3 py-2 rounded-md block hover:bg-gray-100"> Düzenle </a>
                            </li>
                            <li>
                                <hr class="-mx-2 my-2 dark:border-gray-800">
                            </li> 
                            <li>
                                <a href="{% url 'management:delete-help' id=b.id %}" class="px-3 py-2 rounded-md block text-red-500 hover:bg-red-100 hover:text-red-500 "> Sil </a>
                            </li> 
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="flex items-center justify-between sm:flex-row flex-col mt-2 p-6">
            <p class="mb-3"> {{ showing_title }} </p>



            <div class="pagination-container">
                <nav class="pagination">
                    <ul class="pagination">
    
                      
                     
                      
                      
                        
                       
                        
                        </ul>
                </nav>
            </div>



            <div class="border divide-x flex font-medium items-center rounded-md text-gray-600">

                {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}{% if q %}&q={{q}}{% endif %}" class="py-2 px-5 hover:bg-gray-100"> Geri</a> 
                {% endif %}

                {% if blogs.number|add:'-3' > 1 %}
                <a href="?page={{ blogs.number|add:'-4' }}{% if q %}&q={{q}}{% endif %}" class="py-2 px-3 bg-gray-100">&hellip;</a> 
                {% endif %}
  
                {% for i in blogs.paginator.page_range %}
                {% if blogs.number == i %}
                <a  class="py-2 px-3 bg-gray-100">{{ i }}</a> 

                {% elif i > blogs.number|add:'-4' and i < blogs.number|add:'4' %}
                    <a href="?page={{ i }}{% if q %}&q={{q}}{% endif %}" class="py-2 px-3 hover:bg-gray-100"> {{ i }}</a> 
                    {% endif %}
                {% endfor %}
                  
                {% if blogs.paginator.num_pages > blogs.number|add:'3' %}
                <a href="?page={{ blogs.number|add:'4' }}{% if q %}&q={{q}}{% endif %}" class="py-2 px-3 hover:bg-gray-100">&hellip;</a> 
                {% endif %}
                
                {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}{% if q %}&q={{q}}{% endif %}" class="py-2 px-5 hover:bg-gray-100"> İleri</a> 
            
                {% else %}
            {% endif %}
             
            </div>
        </div>

    </div>  

</div>
{% endblock %}