{% extends "layout_without_footer.html" %}
{% block body %}
<html>
<head>
</head>
<body>
<h1>Yapay Arşiv Kimdir?</h1>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Yapay Arşiv, binlerce yapay zeka aracını tek bir platformda birleştiren bir yapay zeka k&uuml;t&uuml;phanesidir.&nbsp;</span></span></span></p>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">2023 yılında kurulan Yapay Arşiv&#39;in amacı, yapay zeka alanındaki bilgi ve kaynakların erişilebilirliğini ve g&ouml;r&uuml;n&uuml;rl&uuml;ğ&uuml;n&uuml; artırmaktır. Bu ama&ccedil; doğrultusunda, Yapay Arşiv, yapay zeka ile ilgili &ccedil;alışmaları kolayca bulmak, okumak ve paylaşmak i&ccedil;in bir ortam sunmaktadır.</span></span></span></p>

<p>&nbsp;</p>

<h2>İ&ccedil;eriğimiz Nedir?</h2>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Yapay Arşiv&#39;in i&ccedil;eriği, yapay zeka alanındaki &ccedil;eşitli kaynaklardan derlenmektedir. Bu kaynaklar arasında akademik makaleler, raporlar, veri setleri, blog yazıları, videolar ve diğer bir&ccedil;ok materyal bulunmaktadır. Yapay Arşiv, bu kaynakların t&uuml;m&uuml;n&uuml; T&uuml;rk&ccedil;e olarak sunmaktadır.</span></span></span></p>

<p>&nbsp;</p>

<h2>Amacımız Nedir?</h2>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">Yapay Arşiv&rsquo;in, yapay zeka alanındaki araştırmacılar, &ouml;ğrenciler, profesyoneller ve meraklılar i&ccedil;in &ouml;nemli bir kaynak olduğunu d&uuml;ş&uuml;n&uuml;yoruz. Yapay Arşiv ile, yapay zeka ile ilgili bilgi ve kaynaklara erişmek ve bu alandaki gelişmeleri takip etmek isteyen herkes i&ccedil;in daha ulaşılabilir faydalı bir platform sunmayı ama&ccedil;lıyoruz.</span></span></span></p>

<p>&nbsp;</p>

<h3>Yapay Arşiv&#39;in Ana Hedefleri Arasında:</h3>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">&bull; Yapay zeka alanındaki bilgi ve kaynakların erişilebilirliğini ve g&ouml;r&uuml;n&uuml;rl&uuml;ğ&uuml;n&uuml; artırmak</span></span></span></p>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">&bull; Yapay zeka alanındaki araştırmaları ve &ccedil;alışmaları desteklemek</span></span></span></p>

<p><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">&bull; Yapay zeka alanındaki farkındalığı ve eğitimi artırmak&nbsp;</span></span></span><span style="font-size:13.999999999999998pt"><span style="font-family:Arial,sans-serif"><span style="color:#000000">bulunmaktadır.</span></span></span></p>

<p>&nbsp;</p>

</body>
</html>
{% endblock body %}