{% extends "layout_without_footer.html" %}
    
    {% block body %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Başarıyla Giriş Yaptınız <i class="fa fa-check" aria-hidden="true"></i></h3>
            <div class="card-text text-center">
                Binlerce Yapay Zeka Aracı İçin<br><br>
                <a class= "btn btn-sm btn-dark" href="/">Ana Sayfa</a>
               
            </div>
        </div>
    </div>
    </div>
    {% endblock %}